.about-sect {
    height: 90vh;
}

.about-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.about-text {
    padding: 20px 10px;
}

.about-pics {
    max-height: 300px;
    max-width: 300px;
}

@media screen and (max-width: 1400px) {
    .about-row {
        flex-direction: column;
    }

    .about-text {
        margin-top: 20px;
    }
    
}

@media screen and (max-width: 991px) {


    .about-text {
        margin-top: 20px;
    }
    
}