.home {
    height: 90vh;
}

.home-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.home-pic {
    max-height: 600px;
    width: auto;
}

.resume-download {
    cursor: pointer;
}

.banner {
    background-color: aquamarine;
    color: green;
    border: 1px solid green;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-out, top 0.5s ease-out;
  }
  
  .banner.show {
    top: 10vh;
    opacity: 1;
    transition: opacity 0.5s ease-in, top 0.5s ease-out;
  }
  

.resume-download {
    color: aquamarine;
}

@media screen and (max-width: 991px){

    .home {
        margin: 25vh auto;
    }

    .banner {
        top: 20vh;
    }
}