.navbar-sect {
  background-color: #631bb1;
}

.links {
    color: #d9d9d9;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
    font-weight: 500;
  }

  @media screen and (max-width: 991px){
    .navbar-sect {
      margin-bottom: 20vh;
    }
  }