ul {
    list-style-type: none;
}

li {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.skills-sect {
    margin-top: 50px;
}

.skill-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
}

@media (max-width: 991px) {
    .skills-sect {
        margin: 0;
    }
}